
//   body {
//     background: rgb(199, 6, 6);
//     font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
//     font-size: 14px;
//     color: #000;
//     margin: 0;
//     padding: 0;
//   }
  
  .swiper {
    width:700px;
    height:140px;
    
   position: relative;
   left: -250px;
top: 10px;
   margin: auto;
   margin-bottom: 30px;
   
   
    

  }
  
  .swiper-slide {
   
    font-size: 18px;
    background:#111;
   
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    margin-left: 20px;
 
    display: block;
    width: 100%;
    height: 100%;
    
  }
  .swiper-button-next{


    &::after{
      color: rgb(60, 72, 31);
        content: "";
        background-color: rgb(117, 118, 116);
        z-index: +1;
        position: relative;
        top: -40px;
        left:20px;
        overflow: hidden;
    }
  }
  .swiper-button-prev{


    &::after{
      color: rgb(60, 79, 43);
        content: "";
        background-color: rgb(117, 119, 115);
        z-index: +1;
        position: relative;
        top: 10px;
        left:670px;
    }
  }

  