/* .accordion-button::after{
        content: "";
        width: 100px;
        height: 200px;
        color: red;
        font-size: 32px; */

       
    
   
    .accordion-button:not(.collapsed)::after {
        width: 110px;
        background:rgb(253, 253, 253);
    }