
.accardeon{
    
    width: 100%;
    height: 100%;
    border: solid rgb(16, 15, 15);
    background-color: black;
.dep{
    margin-bottom: 30px;
}
}
.video{
    width: 100%;
    height: 1000px;
    background:  linear-gradient(90deg, rgba(0,0,0,0.45211834733893) 12%, rgba(2, 0, 36, 0.892) 50%), url(./fon/fonw.jpeg) ;
}
.koroche{
    border: solid black;
    background-color: black;
    width: 100%;
    height:1000px;
    margin-bottom: 100px;
}